<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="alstoone" translate="label" sortOrder="10">
      <label>Alstoone</label>
    </tab>
    <section id="hours" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>Alstoone Hours</label>
      <tab>alstoone</tab>
      <resource>Alstoone_Hours::hours_config</resource>
      <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
	<label>General Configuration</label>
	<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
	  <label>Module Enable</label>
	  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	</field>
	<field id="openhours" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
	  <label>Open Hours</label>
	  <frontend_model>Alstoone\Hours\Block\Adminhtml\Form\Field\OpenHours</frontend_model>
	  <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
	</field>
	<field id="closeddays" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
	  <label>Closed Days</label>
	  <frontend_model>Alstoone\Hours\Block\Adminhtml\Form\Field\ClosedDays</frontend_model>
	  <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
	</field>
      </group>
    </section>
  </system>
</config>
